.titleAwal {
    text-align: center;
}



.container{
    display: flex;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

a{
    position: relative;
    display: inline-block;
    padding: 10px 13px;
    margin:10px 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg,#1887fe,#55e7fc);
}
a:nth-child(2){
    background: linear-gradient(90deg,#1887fe,#55e7fc);
}

span{
    position: absolute;
    background: #fff;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 0.75s linear infinite;
}

@keyframes animate{
    0%
    {
        width: 0px;
        height: 0px;
        opacity: 0.75;;
    }
    100%
    {
        width: 500px;
        height: 500px;
    }
}




input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #009005;
  }


  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;

}

.pembungkus {
  padding: 10px;
}

.date {
  margin-top: 20px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.styled-table thead tr {
  background-color: #298af9;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #006ace;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #003caa;
}

.history {
  padding: 10px;
}
